NODE_ENV=production
DATABASE_URL=postgresql://PEGA_AQUI_LA_URL_DE_RENDER_POSTGRES
JWT_SECRET=perchi_super_secret_prod_2026_cambiar_no_compartir_928374928374
FRONTEND_URL=http://localhost:5173
PUBLIC_API_URL=https://perchi-api.onrender.com
IMAGE_STORAGE_PROVIDER=cloudinary
CLOUDINARY_CLOUD_NAME=pendiente
CLOUDINARY_UPLOAD_PRESET=pendiente
CLOUDINARY_FOLDER=perchi